<h1 style="margin-bottom: 15px;" class="h1-vlad">What will you  <span class="color-h1-landing"
                style="color:#D1D1E9;">learn</span> today ?</h1>

    {{!-- <form action="/index" method="GET" id="mathSearch">
            <select  name="category" id="category" class="select">
                <option value="disabled selected" >Choose a category ↓</option>
                {{#each category}}
                <option value="{{this._id}}">{{this.category}}</option>
                {{/each}}
            </select>
       
    
        <label for="from"></label>
        <input type="text" id="from" name="from" class="mathFrom" placeholder="from">
        <label for="to"></label>
        <input type="text" id="to" name="to" class="mathTo" placeholder="to">

<button class='btn btn-primary'>Search</button>
</form> --}}

<form  class="row justify-content-between noPadding" action="/index" method="GET" id="mathSearch">

            <select  name="category" id="category" class="select col-12 col-xl-3 ">
                <option value="disabled selected" >Choose a category ↓</option>
                {{#each category}}
                <option value="{{this._id}}">{{this.category}}</option>
                {{/each}}
            </select>
       
    
        {{!-- <label for="from"></label> --}}
        <input type="text" id="from" name="from" class="col-5 col-xl-3" placeholder="from">
        {{!-- <label for="to"></label> --}}
        <input type="text" id="to" name="to" class="col-5 col-xl-3" placeholder="to">

<button class='col-12 col-xl-2 btn btn-primary'>Search</button>
</form>

{{!-- <h2 class="h2-date-vlad">{{this.date}}</h2> --}}


<div style="margin-top: 15px;" class="row">
        {{#each finalArr}}
        {{#each this.courses}}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="vignette-container">
                    <a class="vignette-link" href="/{{this._id}}">
            <div class="vignette-container-inside">
                <article class="teacher-vignette">
                        <img class="vignette-main-image" src="{{this.image}}" alt="img" />
                        <div id="contain-teacher" class="cercle">
                            <img class="cercle teacher-image" src="{{this.teacher.image}}" alt=""></li>
                            <h4>{{this.teacher.name}} </h4>
                            <h4>{{this.teacher.lastname}}</h4>
                        </div>
                        <div>
                            <h6 class="date-vignette">{{formatDate this.date}}</h6>
                        </div>
                </article>
                <div class="vignette-inside">
                    <div class="title-tag">
                        <div>
                            <h2 >{{this.title}}</h2>
                        </div>
                        <div>
                            <p class="tag">{{this.category.category}}</p>
                        </div>
                    </div>
                    <p class="two-line-ellipsis vignette-description">{{this.description}}</p>
                    <div class="vignette-bottom">
                        <div class="vignette-bottom-left">
                            {{#each participants}}
                            <img class="cercle" src="{{this.image}}" />
                            {{/each}}
                        </div>
                        <div class="vignette-bottom-right">
                            <h2>{{priceUpdate this.participants this.price}}$ / pers </h2>
                            <p>{{placesLeft this.participants this.maxPeople}} places left</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </a>
  </div>
   {{/each}}
{{/each}}
</div>