<h1 style="text-align: left;" class="h1-vlad">My Profile</h1>

<div class=" form-sign-up">
 
    <div class="profile-user-pic">
        {{#if user.image }}
        <img src="{{user.image}}" alt="">
        {{/if}}
    </div>
    <div class="profile-input">
        <p class="profile-input-txt">{{user.name}}</p>
    </div>
    <div class="profile-input">
        <p class="profile-input-txt">{{user.lastname}}</p>
    </div>
    <div class="profile-input">
        <p class="profile-input-txt">{{user.username}}</p>
    </div>
    <div class="profile-input">
        <p class="profile-input-txt">{{user.email}}</p>
    </div>
    <a href="/users/profile/edit" style="width: 100%;" class="btn btn-primary" id="profile-btn-edit">Edit my profile</a>
</div>